/*----------------------------------

_base.scss : 커스텀 초기화 (2순위 초기화)

----------------------------------*/

form {
    width: 100%;
}

*,*::after,*::before {
    box-sizing: border-box;
}

ul,ol,dl {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}