/*----------------------------------

_variable.scss : 사용되는 컬러

----------------------------------*/

$brand              : #1538ff;         // 브랜드
$brand_deep    : #001aff;         // 브랜드_진한
$brand_light     : #4781ff;         // 브랜드_밝은
$red                  : #ff1515;         // 빨강
$green              : #44ff15;         // 초록
$blue                : #1553ff;         // 파랑
$black               : #333333;       // 검정
$gary                : #888888;        // 회색
$gary_light       : #F1F1F1;         // 회색_밝은
$white              : #FFFFFF;          // 하양